<div class="background-color">

<div>
  <div class="top_picture" style="align: center; margin: 0 auto;">
  <h1 class="atext" style="font-size: 50px; position: absolute; top:98%; left:15%; bottom:20%;">Meet The Team</h1>
  <img class="displayed" src="https://files.slack.com/files-pri/T02Q6C0P2-F14D1D0CD/download/slack_for_ios_upload.jpg">

   </div> 
</div>

    <div class="atext" style="text-align: center;">
      <h1>About Us</h1>
      <h2>Mission</h2>
      <p>To provide helping hands to the needy</p>
      <p>Encouraging people to change the present and create a greater future</p>
      <p>To nuture a friendlier new generation</p> 
      
      <h2>Vision</h2>
      <p>A better future generation</p>
    </div>
    

<div class="below" style="margin: 0 100px 0 200px;">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<div class="container">
  <div class="row ">
    <div class="col-lg-10">
      <div>


        <div class="col-md-3">
          <div class="profile-card text-center">

            <img class="img-responsive" src="http://www.wallpapereast.com/static/images/3d-HD-Wallpapers-1080p2_ByMZT0E.jpg">
            <div class="profile-info">

              <img class="profile-pic" src="https://igcdn-photos-e-a.akamaihd.net/hphotos-ak-xft1/t51.2885-19/s150x150/11887116_500499000108940_1657438197_a.jpg">

              <h2 class="hvr-underline-from-center">Ethan Loke<span>Profesional Developer</span></h2>
              <a href="http://www.twitter.com/miethan"><i class="fa fa-twitter fa-2x"></i></a>
              <a href="mailto:ethanloke@live.co.uk"><i class="fa fa-envelope-o fa-2x"></i></a>
              <a href="http://www.facebook.com/ethanol"><i class="fa fa-facebook fa-2x"></i></a>
            </div>

          </div>
        </div>


        <div class="col-md-3">
          <div class="profile-card text-center">

            <img class="img-responsive" src="http://www.wallpapereast.com/static/images/6991453-fall-wallpaper-hd_RkEGKvj.jpg">
            <div class="profile-info">

              <img class="profile-pic" src="https://igcdn-photos-h-a.akamaihd.net/hphotos-ak-xaf1/t51.2885-19/11032912_355305871324167_227932735_a.jpg">

              <h2 class="hvr-underline-from-center">Kevin Ong<span>Profesional Developer</span></h2>
              <a href="http://www.twitter.com/kevinOng"><i class="fa fa-twitter fa-2x"></i></a>
              <a href="mailto:kevinbanzai@live.co.uk"><i class="fa fa-envelope-o fa-2x"></i></a>
              <a href="http://www.facebook.com/kevthegreat"><i class="fa fa-facebook fa-2x"></i></a>
            </div>

          </div>
        </div>


        <div class="col-md-3">
          <div class="profile-card text-center">

            <img class="img-responsive" src="http://www.wallpapereast.com/static/images/Unique-And-Beautiful-Wallpaper-HD.jpg">
            <div class="profile-info">

              <img class="profile-pic" src="https://igcdn-photos-d-a.akamaihd.net/hphotos-ak-xtf1/t51.2885-19/s150x150/11371040_1640244809566499_1490534241_a.jpg">

              <h2 class="hvr-underline-from-center">Pei Hong<span>Profesional Developer</span></h2>
              <a href="http://www.twitter.com/hongkidesu"><i class="fa fa-twitter fa-2x"></i></a>
              <a href="mailto:peihong@live.co.uk"><i class="fa fa-envelope-o fa-2x"></i></a>
              <a href="http://www.facebook.com/peihong"><i class="fa fa-facebook fa-2x"></i></a>
            </div>

          </div>
        </div>


        <div class="col-md-3">
          <div class="profile-card text-center">

            <img class="img-responsive" src="http://www.wallpapereast.com/static/images/Wallpaper-HD-11F1.jpg">
            <div class="profile-info">

              <img class="profile-pic" src="https://lh3.googleusercontent.com/-66cNR2tWhJg/AAAAAAAAAAI/AAAAAAAAAfo/KpBozwPeNNs/s120-c/photo.jpg">

              <h2 class="hvr-underline-from-center">Sean Wong<span>Profesional Developer</span></h2>
              <a href="http://www.twitter.com/thisguynotnaes"><i class="fa fa-twitter fa-2x"></i></a>
              <a href="mailto:seanwong@gmail.com"><i class="fa fa-envelope-o fa-2x"></i></a>
              <a href="http://www.facebook.com/seanwong05"><i class="fa fa-facebook fa-2x"></i></a>
            </div>

          </div>
        </div>


      </div>
    </div>
   </div>
  </div>
 </div>
</div>