// Place all the styles related to the activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.activity{
	font-family: "Montserrat", sans-serif;
	text-transform: uppercase;
}


h4{
	font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
 
}