// Place all the styles related to the activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


th{
	font-size: 30px;
  line-height: 1.3;
  color:#36454f;
  font-weight:800;
  font-family: "Montserrat", sans-serif;
  width:400px;
  

}

table {
	border:none;
	border-radius: 4px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}


.campaign_bg {
  position: relative;
  top: 0;
  left: 0;
  margin: 0 auto;
  padding: 0;
  height: 100%;
  width: 100%;
  animation: colorBackground 20s infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera 12.10+ */
  -webkit-animation: colorBackground 20s infinite;
  /* Chrome, Safari 5+ */
  -moz-animation: colorBackground 20s infinite;
  /* Firefox 5-15 */
  -o-animation: colorBackground 20s infinite;
  /* Opera 12.00 */

}

@keyframes colorBackground {
  0% {
    background-color: #fbcf61;
    color: #fbcf61;
  }
  20% {
    background-color: #6bd57e;
    color: #6bd57e;
  }
  40% {
    background-color: #ff6f6f;
    color: #ff6f6f;
  }
  60% {
    background-color: #57cff4;
    color: #57cff4;
  }
  80% {
    background-color: #0ed4c8;
    color: #0ed4c8;
  }
  100% {
    background-color: #fbcf61;
    color: #fbcf61;
  }
}

@-webkit-keyframes colorBackground {
  0% {
    background-color: #fbcf61;
    color: #fbcf61;
  }
  20% {
    background-color: #6bd57e;
    color: #6bd57e;
  }
  40% {
    background-color: #ff6f6f;
    color: #ff6f6f;
  }
  60% {
    background-color: #57cff4;
    color: #57cff4;
  }
  80% {
    background-color: #0ed4c8;
    color: #0ed4c8;
  }
  100% {
    background-color: #fbcf61;
    color: #fbcf61;
  }
}

@-moz-keyframes colorBackground {
  0% {
    background-color: #fbcf61;
    color: #fbcf61;
  }
  20% {
    background-color: #6bd57e;
    color: #6bd57e;
  }
  40% {
    background-color: #ff6f6f;
    color: #ff6f6f;
  }
  60% {
    background-color: #57cff4;
    color: #57cff4;
  }
  80% {
    background-color: #0ed4c8;
    color: #0ed4c8;
  }
  100% {
    background-color: #fbcf61;
    color: #fbcf61;
  }
}

@-o-keyframes colorBackground {
  0% {
    background-color: #fbcf61;
    color: #fbcf61;
  }
  20% {
    background-color: #6bd57e;
    color: #6bd57e;
  }
  40% {
    background-color: #ff6f6f;
    color: #ff6f6f;
  }
  60% {
    background-color: #57cff4;
    color: #57cff4;
  }
  80% {
    background-color: #0ed4c8;
    color: #0ed4c8;
  }
  100% {
    background-color: #fbcf61;
    color: #fbcf61;
  }
}
.campaign_bg h1{
	padding-top: 50px;
	color:#36454f;
	text-align: center;
	margin-bottom: 50px;
	font-family: "Montserrat", sans-serif;
	font-weight:800;
	text-transform: uppercase;

}

.title_input{
	width: 700px;
	border:none;
	border-radius: 4px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding-left: 30px;
	padding-right: 20px;
	background-color: transparent;
	padding-top:15px;
	padding-bottom:15px;
  margin-top: 0;
	margin:auto;
}

.title_bar{
	background-color: white;
	width:530px; 
	height:50px;
	text-align: center;
	border:1px solid rgb(230, 230, 230);
	font-family: "Montserrat", sans-serif;
	font-weight:600;
	color:darkgrey;
	border:none;
	border-radius: 4px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dropdown-menu{
	width:530px;
	font-family: "Montserrat", sans-serif;
	font-weight:600;
}

.glyphicon{
	color:#36454f;
	background-color: transparent;
}