
footer {
    position: relative;
    width: 100%;
    background: #000;
    height: 350px;
    top: 100%;
}

div.col-md-4 {
    padding-top: 40px;
}

h1.description {
    font-weight: 700;
    letter-spacing: 2px;
    color: #999;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-bottom: 5px;
}

div.container {
    width: 85%;
}

h3 {
    font-weight: 700;
    letter-spacing: 1px;
    color: #999;
    padding-bottom: 5px;
}

.col-md-4 a {
    color: #fff;
}

.img:hover {
    background-color: rgba(0,0,0,0.5);
    -webkit-filter: opacity(80%);
    filter: opacity(30%);
    -webkit-transition: all .5s ease-in-out 0;
    -moz-transition: all .5s ease-in-out 0;
    transition: all .5s ease-in-out 0;
    color: #fff;
    font-size: 40px;
    font-variant: small-caps;
}    

div.img {
    width: 200px;
    height: 200px;
    background-size: cover;
    float: center;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.linkoffun {
    opacity: 0;
    color: #000;
    font-size: 40px;
}

.btn-pref .btn {
    -webkit-border-radius: 0 !important;
}

img.bookings {
    width: 400px;
    height: 250px;
    position: absolute;
    right: 35%;
}

.carousel-control.left,.carousel-control.right {
    background-image: none;
}

ol.carousel-indicators li {
    border: 1px solid;
    color: #000;
    opacity: .5;
}

.high {
    max-height: 40px;
}
